@section scripts {
    @Scripts.Render("~/bundles/ng")
}

<div class="page-header">
    <h1>BookService - Angular</h1>
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <!-- https://github.com/jirikavi/AngularJS-Toaster -->
    
</div>

<div class="row" ng-controller="BookController as bookCtrl">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <div class="panel-body">
                <div cg-busy="bookCtrl.busyPromise"></div>
                <ul class="list-unstyled">
                    <li ng-repeat="book in bookCtrl.books">
                        <strong><span>{{book.AuthorName}}</span></strong>: <span>{{book.Title}}</span>
                        @*<small><a href="#" ng-click="bookCtrl.showDetails(book)">Details</a></small>*@
                        <small><a ng-href="#/bookdetail/{{book.Id}}">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>*@
    </div>
    
    <div ng-view></div>       
</div>

<hr/>

