@section scripts {
    @Scripts.Render("~/bundles/ng")
}

<div class="page-header">
    <h1>BookService - Angular</h1>
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <!-- https://github.com/jirikavi/AngularJS-Toaster -->
</div>

<div ng-controller="BookController as bookCtrl">
    <ul ng-show="bookCtrl.showList">
        <li ng-repeat="book in bookCtrl.books">
            {{book.Title}}
        </li>
    </ul>
</div>

<div class="row" ng-controller="BookController as bookCtrl">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li ng-repeat="book in bookCtrl.books">
                        <strong><span>{{book.AuthorName}}</span></strong>: <span>{{book.Title}}</span>
                        <small><a href="#" ng-click="bookCtrl.showDetails(book)">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>*@
    </div>

    <div class="col-md-4" ng-show="bookCtrl.details != null">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Author</td><td>{{bookCtrl.details.AuthorName}}</td></tr>
                <tr><td>Title</td><td>{{bookCtrl.details.Title}}</td></tr>
                <tr><td>Year</td><td>{{bookCtrl.details.Year}}</td></tr>
                <tr><td>Genre</td><td>{{bookCtrl.details.Genre}}</td></tr>
                <tr><td>Price</td><td>$ {{bookCtrl.details.Price}}</td></tr>
                <tr><td colspan="2"><button class="btn btn-danger" ng-click="bookCtrl.DeleteBook()">Delete</button></td></tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Book</h2>
            </div>

            <div class="panel-body">
                <form name="form" class="form-horizontal" ng-submit="bookCtrl.addNewBook()" novalidate showvalidation>


                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 control-label">Author</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="bookCtrl.newBook.Author" ng-options="author.Name for author in bookCtrl.authors | unique:'Name'" required>
                                <option value="">-- Choose Author --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTitle" ng-model="bookCtrl.newBook.Title" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputYear" class="col-sm-2 control-label">Year</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputYear" ng-model="bookCtrl.newBook.Year" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputGenre" ng-model="bookCtrl.newBook.Genre" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" step="any" class="form-control" id="inputPrice" ng-model="bookCtrl.newBook.Price" required />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
